{% extends 'estoque/base.html' %}
{% block content %}
<a href="{% url 'ativo_create' %}">Adicionar Ativo</a>
<table border="1">
  <tr>
    <th>Tipo</th>
    <th>Nome</th>
    <th>Patrimônio</th>
    <th>Serial</th>
    <th>RAM</th>
    <th>HD</th>
    <th>Processador</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>
  {% for ativo in ativos %}
  <tr>
    <td>{{ ativo.tipo }}</td>
    <td>{{ ativo.nome }}</td>
    <td>{{ ativo.numero_patrimonio }}</td>
    <td>{{ ativo.serial_number }}</td>
    <td>{{ ativo.ram }}</td>
    <td>{{ ativo.hd }}</td>
    <td>{{ ativo.processador }}</td>
    <td>{{ ativo.status }}</td>
    <td>
      <a href="{% url 'ativo_update' ativo.pk %}">Editar</a> |
      <a href="{% url 'ativo_delete' ativo.pk %}">Excluir</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
